packrat/lib*/
.Rproj.user
Rproj.user$
Rproj$
*.Rproj$
*.Rhistory$
Rhistory$
*.Rhistory
*.Rprofile
.Rhistory

.Rprofile
checklog.txt

*.docx
packrat/src/
packrat/

*.pdf
*output.txt

manuscript/
out/

*.Rdata


.Rhistory
*.Rhistory
raptor.Rproj
.Rprofile
checklog.txt
raptor.Rproj
docs/
